.app {
    max-width: 1200px;
    margin: 0 auto;
}

.app__header {
    padding: 1em;
    background-color: #1890FF;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

.app__header h3 {
    color: white;
}

.app__search {
    display: flex;
    gap: 1em;
    padding: 1em;
    border-bottom: #1890FF 1px solid;
    margin-bottom: 1em;
}

.app__residents {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}